@import "../../variables.scss";

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 172px;
    background-image: url('../../assets/bg-sidebar-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 32px;
    z-index: 2;

    .list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        margin: 0 auto;
        width: fit-content;
        padding: 0;
    }
}

@media screen and (min-width: $tablet) {
    .container {
        position: relative;
        background-image: url('../../assets/bg-sidebar-desktop.svg');
        width: 274px;
        height: 568px;
        flex-shrink: 0;

        .list {
            grid-template-columns: 1fr;
            gap: 32px;
        }
    }
}