@import "../../../variables.scss";

.container {
    .numberContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $white;
        border-radius: 50%;
        padding: 5px 8.5px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1px;
        font-weight: 700;
        color: $white;
    }

    .numberContainer:hover {
        background-color: $light-blue;
        color: $marine-blue;
    }

    .textContainer {
        display: none;
    }
}
