@import "../../variables.scss";

$mobile-slide__width: calc(100vw - 32px);

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 3;

  .container {
    position: relative;
    display: grid;
    width: calc(5*$mobile-slide__width + 64px);
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-start;
    gap: 16px;
    padding: 0 16px;
    transition: .5s;
    background-color: transparent;
  }

  .active-0 {
    left: 0px;
  }

  .active-1 {
    left: calc(-100% + 16px);
  }

  .active-2 {
    left: calc(-200% + 2*16px);
  }

  .active-3 {
    left: calc(-300% + 3*16px);
  }

  .active-4 {
    left: calc(-400% + 4*16px);
  }
}

@media screen and (min-width: $tablet) {
  .wrapper {
    width: 100%;
    max-width: 450px;

    .container {
      padding: 0;
      width: calc(2250px + 64px);
      grid-template-columns: repeat(5, 450px);
    }

    .active-1 {
      left: calc(-100% - 16px);
    }
  
    .active-2 {
      left: calc(-200% - 2*16px);
    }
  
    .active-3 {
      left: calc(-300% - 3*16px);
    }
  
    .active-4 {
      left: calc(-400% - 4*16px);
    }
  }
}