@import "../../variables.scss";

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 3;

  .container {
    position: relative;
    width: 500%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 0 16px;
    transition: .5s;
    background-color: transparent;
  }

  .active-0 {
    left: 0;
  }

  .active-1 {
    left: calc(-100% + 0px);
  }

  .active-2 {
    left: -200%;
  }

  .active-3 {
    left: -300%;
  }

  .active-4 {
    left: -400%;
  }
}