@import "../../variables.scss";

.wrapper {
    width: 100%;
    height: 100vh;
    padding: 0;
    position: relative;
    z-index: 5;

    .content {
        width: 100%;
        padding-top: 99px;
        padding-bottom: 96px;
    }

    @media screen and (min-width: $tablet) {
        max-width: 940px;
        padding: 0;
        margin: 0;
    }
}
