@import '../../variables.scss';

.container {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 32px);
    padding: 32px 24px;
    background-color: $white;
    box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.0951141);
    border-radius: 10px;
    gap: 16px;

    .icon {
        width: 56px;
        height: 56px;
        margin-bottom: 15px;
    }

    .title {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: $marine-blue;
        margin: 0;
    }

    .description {
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: $cool-gray;
        margin: 0;
    }
}

.container.centered {
    align-items: center;
    text-align: center;
}