@import '../../variables.scss';

.container {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: $white;

    .backBtn {
      margin: 0;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: $cool-gray;
    }

    .btn {
      width: 97px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      border: none;
      border-radius: 4px;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: $white;
    }

    .next {
      background-color: $marine-blue;
    }

    .confirm {
      background-color: $purplish-blue;
    }
}